= form_for(@user) do |f|
  -if @user.errors.any?
    #error_explanation
      h2 = pluralize(@user.errors.count, "error")
      | prohibited this user from being saved:
      ul
         -@user.errors.full_messages.each do |message|
          li = message
  .field
      = f.text_field :first_name,  class:"form-control input-lg", placeholder:"First Name:"
  .field
      = f.text_field :last_name, class:"form-control input-lg", placeholder:"Last Name:"
  .field
      = f.text_field :password,  class:"form-control input-lg", placeholder:"Password:"
  .field
      = f.text_field :password_confirmation,  class:"form-control input-lg", placeholder:"Password Confirmation:"
  .actions
      = f.submit 'Update User', class:"btn btn-primary btn-lg btn-block"

