<div  class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" id="edit-model-dialog">
    <div class="modal-header">
      <h1><span class="label label-default">Editing User</span></h1>
    </div>
    <div class="modal-body">
      <%= render 'edit' %>
    </div>
    <div class="modal-footer">
      <%= link_to 'Back', posts_path%>
    </div>
  </div>
</div>