div class="modal show" tabindex="-1" role="dialog" aria-hidden="true"
  .modal-dialog id="edit-model-dialog"
    .modal-header
      h1
        span class="label label-default" Editing User
    .modal-body
      = render 'edit'
    .modal-footer
      = link_to 'Back', posts_path


