<div  class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" id="sign-up-model-dialog">
    <div class="modal-content" id="sign-up-model-content">
      <div class="modal-header">
        <h1 id="my-welcome-heading"><span class="label label-default">Please Sign up!</span></h1>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Back to sign in', users_path %>
      </div>
    </div>
  </div>
</div>




