.jumbotron
  h2 id="my-welcome-heading"
    span class="label label-default" Welcome to Twitter!
  - if current_user
    p
      span class="glyphicon glyphicon-triangle-right"
      == link_to posts_path do
        span  Start Twitter!
  - else
    p
      span class="glyphicon glyphicon-triangle-left"
      == link_to sign_in_path do
        span  Sign in first!