<div class="jumbotron">
<h2 id="my-welcome-heading"><span class="label label-default">Welcome to Twitter!</span></h2>
<% if current_user %>
    <p>
      <span class="glyphicon glyphicon-triangle-right"></span><%= link_to "Start Twitter!", posts_path %>
    </p>
<%  else  %>
    <p>
      <span class="glyphicon glyphicon-triangle-left"></span><%= link_to "Sign in first!", sign_in_path %>
    </p>
<% end %>
</div>