<h1 align="center">This is my Twitter</h1>

<!--<a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red</a>-->
<!--<a href="#" onclick="this.style.backgroundColor='#009900';this.style.color='#FFFFFF';">Paint it green</a>-->

<%= form_for(@post, remote:true) do|f| %>
    <p align="center">

      <%= f.text_area :message, cols: "80", rows: "10" %>
    </p>
    <p align="center">
      <%= f.submit value="Create twitter" %>
    </p>
<% end %>


<ol id="posts">
  <%= render @posts %>
</ol>










