<p>
  <div class="jumbotron">
    <h2><%= @post.message %></h2>
    <h5>Created: <%= @post.created_at.strftime('%A %B %d at %H:%M')%></h5>
</div>
</p>

<span class="glyphicon glyphicon-triangle-left"></span><%= link_to "Back", posts_path() %>