// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ol
{
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 55em;
  margin-right: 0;
  align-content: center;
  align-items: center;
}

ol li
 { list-style:none;
 }

ul li
{ list-style:none;
}

ul
{
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0;
  align-content: left;
  align-items: left;
}