#sign-up-model-content {
  width: 60%;
}

#sign-up-model-dialog {
  margin-top: 80px;
  margin-left: 180px;
}

#sign-in-model-content {
  width: 60%;
}

#sign-in-model-dialog {
  margin-top: 80px;
  margin-left: 180px;
}

.background_image {
  background: center/cover image-url('background.jpg');
  min-height: 100vh;
}

.session_exists{
  background: center/cover image-url('background-session.jpg');
  min-height: 100vh;
}

#error_explanation {
  width: 24em;
  word-wrap: break-word;
}

#navi-sign-in-span {
  margin-left: 30px;
}