<div class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" id="sign-in-model-dialog">
    <div class="modal-content" id="sign-in-model-content">
      <div class="modal-header">
        <h1 id="my-welcome-heading"><span class="label label-default">Please Sign in!</span></h1>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer">
         <%=  link_to "Sign up", sign_up_path %>
          <p>
            <%= link_to 'forgot password?', root_url %>
          </P>
      </div>
    </div>
  </div>
</div>



